body{
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
}
img{
    height: 50px;
    width: 50px;
}
.mystyle{
    padding: 20px;
    border-bottom: 1px solid rgba(116, 114, 114, 0.297);    
}
/* table,th,td,tr{
    /* border-collapse: collapse; */
    /* border-spacing: 20px;
    border: 5px solid black;

} * */
.suplly{
     text-align: left;
     width: 200px;
}
.star{
padding-left: 30px;
font-size: 35px;
color: rgb(12, 211, 222);
cursor: pointer;
}
.fill{
color: gold;
font-size: 35px;
}
#fav{
    height: auto;
    z-index: 2;
    border: 1px solid black;

}

#but{
    margin: 0 auto;
    display: block;
    color:white;
    border-radius: 20px;
    background-color: #0d6efd;
    border: 2px solid #6ba0f0;
    padding: 0.5%;
  
}
.tab2{
    margin-left: 40px;
    text-align: center;

}
#img1{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

/* thead > th{
    text-align: center ;
    word-wrap: break-word;
}

tbody td{
    color: aqua;
    text-align: center ;
    word-wrap: break-word;
    width: max-content;
} */

  .leftmov{
     
     padding-left: 80px;
    /* color: aquamarine; */
}  

/* table th{
    padding-left: 180px;
    color: #0d6efd;
} */