body{
    height: 98vh;
    width: 98vw;
}
img{
    height: 50px;
    width: 50px;
}

.suplly{
     text-align: left;
}
.star{
padding-left: 30px;
font-size: 35px;
color: rgb(12, 211, 222);
cursor: pointer;
}
.fill{
color: gold;
font-size: 35px;
}
#fav{
    height: auto;
    z-index: 2;
    border: 1px solid black;

}

#but{
    margin: 0 auto;
    display: block;
    color:white;
    border-radius: 20px;
    background-color: #0d6efd;
    border: 2px solid #6ba0f0;
    padding: 0.5%;
  
}
.tab2{
    margin-left: 40px;
    text-align: center;

}
#img1{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}


.mystyle:hover{
    background-color: rgb(245, 243, 236,0.5);
}